#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [33]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
count=0
price=0
N= int(input("Enter number of product: "))
for i in range(0,N):
  userinput= input("Enter a product: ")
  if userinput.lower() == "watch" :
    price = price + 5000
  elif userinput.lower() == "phone" :
    price = price + 10000
  elif userinput.lower() == "laptop" :
    price = price + 50000
  elif userinput.lower() == "shirt" :
    price = price + 1000
  else:
    print(f"The {userinput} is Out of stock")
print(f"The final price is : {price}")

Enter number of product: 3
Enter a product: eggs
The eggs is Out of stock
Enter a product: watch
Enter a product: shirt
The final price is : 6000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [3]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [16]:
tup=(3,3,4,3,1,1,1)  
for i in tup:
    if tup.count(i) > 1:
        print(f'{i} is REPEATED')

3 is REPEATED
3 is REPEATED
3 is REPEATED
1 is REPEATED
1 is REPEATED
1 is REPEATED

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [19]:
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1] + (500,) for i in l])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]