Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [4]:
numbers = [12, 75, 150, 180, 145, 525, 50]
l=[]
for i in range(0,7):
  l.append(numbers[i])
print("Maximum is : ", max(l))

Maximum is :  525

Q2. Print all the even number between (1, 12).

In [7]:
for i in range(1,12):
  if i%2 ==0:
    print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [9]:
sum=0
n=int(input("Enter a number : "))
for i in range(0,n+1):
  sum = sum+i
print(sum)

Enter a number : 10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [16]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i % 5== 0:
    if i>150:
      continue
    elif i>500:
      break
    print(i)

75
150
145
50

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [30]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
list1

[50, 40, 30, 20, 10]