Q1. Find out all the types of errors we have encountered and why?

1. print and Print are different. Print is not defined because Print is a variable and print is a function which prints a statement. 
2. Missing paranthesis in print
3. Syntax error : EOL while scanning string literal means the line did not end properly
4. Value error: means that the value cannot be changed into a particular datatype or the value cannot be stored in a particular datatype. Not a valid type conversion.
5. Syntax error/invalid syntax: means there is some syntactical error or something is wrong with your code
6. Type error: when the datatype does not support certain function or maybe the type is not correctly assigned

Q2. Take input A and B  and print their sum , mul, div, square of the nos

In [1]:
A = int(input ("Enter a number "))
B=int(input ("Enter a number "))
sum= A+B
product= A*B
div= A/B
square_A=A**2
square_B=B**2
print(f"The sum of A and B is {sum}")
print(f"The product of A and B is {product}")
print(f"The division of A and B is {div}")
print(f"The square of A is {square_A}")
print(f"The square of B is {square_B}")

Enter a number 23
Enter a number 34
The sum of A and B is 57
The product of A and B is 782
The division of A and B is 0.6764705882352942
The square of A is 529
The square of B is 1156

  Q3.How many reserve words are there in python and why we should not use them as a variable?

  ANS: Python 3 has 33 reserve keywords.These are False, None, True, and , as , assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not,or, pass, raise, return, try, while, yield and with. 

  We should not use reserve keywords as variables in python because they have special meaning and are used for special purposes. Keywords are reserved words which are used to perform certain operations in python. For example lets understand with an example of a code:

In [3]:
for = 2

SyntaxError: ignored

If we try to execute the print = 2 statement and print something it will give a Type Error as we have initialised print as an integer earlier and hence the print function which has been specifically designed to print any statement is unable to perform the given statement.

Another example is for =2. We wont be able to initialise for as an int as it is an invalid syntax.

Q4. Create an email IDs with the user inputs in the following format:
lastname.firstname@gmail.com

In [5]:
first_name= input("Enter the first name : ")
last_name= input("Enter the last name : ")
email_id= print(f"The email id is {last_name}.{first_name}@gmail.com")

Enter the first name : fardeen
Enter the last name : akram
The email id is akram.fardeen@gmail.com

Q5. Try to print the following lines:
Hi. I'm sunny. 
My address is 22/3.
I earn 20$ daily.

In [6]:
print("""
Hi. I'm sunny.
My address is 22/3. 
I earn 20$ daily.
""")

Hi. I'm sunny.
My address is 22/3.
I earn 20$ daily.

Q6. Take user input (name, address, dob, etc) to fill a form for your college and print their email ids.

In [8]:
name= input("Enter the name : ")
address= input("Enter the address : ")
dob= input("Enter the date of birth : ")
print(f"The email id is: {name}.{address}.{dob}@gmail.com")

Enter the name : fardeen
Enter the address : kolkata
Enter the date of birth : 16101998
The email id is: fardeen.kolkata.16101998@gmail.com

Q7. Convert the following 
1. "22.4" into int
2. "22" into complex

In [9]:
#for converting string float into int we need to first convert into float then int.
float("22.4")

22.4

In [10]:
int(22.4)

22

In [11]:
complex("22")

(22+0j)