1. What is indentation error? Why indentation is important? Give one simple example?

ANS: The indentation error can occur when the spaces or tabs are not placed properly. There will not be an issue if the interpreter does not find any issues with the spaces or tabs. If there is an error due to indentation, it will come in between the execution and can be a show stopper.
EXAMPLE:

In [3]:
raining = True
if raining:
print("It is raining")
else:
print("Not raining")
#this will give an indentation error as it doesn't have a tab space before the print statement after the if block.

IndentationError: ignored

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

In [32]:
class_started = bool(input("Hey friend, is class started?: [0-False/1-True] "))
class_started = False
if class_started == True :
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True] 0
Since class is not started...
let's revise

3. Use if else condition to verify that dataype of `input()` method in python is always string.

In [9]:
d= input("Enter something : ")
if type(d) == str:
  print("The datatype of input() is string")
else:
  print("The datatype of input() is not string")

Enter something : 543
The datatype of input() is string

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [7]:
a = int(input(" Enter a number "))
b = int(input(" Enter a number "))
c = int(input(" Enter a number "))
if a>b and a>c:
  print("a is the largest")
elif b>a and b>c:
  print("b is the largest")
else:
  print("c is the largest")

 Enter a number 198
 Enter a number 099
 Enter a number 087
a is the largest

5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```

In [10]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )
#The output of this statement is FALSE

False

6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

In [12]:
  A = 5.0
  B = 10/2
  print(A is B)
  # The output is false as the memory allocated to both a and b are different. is operator checks whether the variables are allocated to the same memory.

False

In [16]:
A = 5.0
B = int(10/2)
print(A is B)
# The output is false as the memory allocated to both a and b are different

False

In [17]:
A = 5.0
B = float(10/2)
print(A is B)
# The output is false as the memory allocated to both a and b are different

False

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [19]:
num = int(input("Enter a number : "))
if num % 3 or num % 5:
  print("That number is divisible be either 3 or 5")
else:
  print("That number is not divisible by either 3 or 5")

Enter a number : 48
That number is divisible be either 3 or 5

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [23]:
length = float(input("Enter the length: "))
width = float(input("Enter the width: "))
area = length * width
print(f"The area is : {area}")
if length == width:
  print("The figure is a square")
else:
  print("The figure is a rectangle")

Enter the length: 8
Enter the width: 8
The area is : 64.0
The figure is a square

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [25]:
radius_1 = float(input("Enter the radius: "))
radius_2 = float(input("Enter the radius: "))
area_1= 3.14*radius_1*radius_1
area_2= 3.14*radius_2*radius_2
print(f"The area of first circle is:{area_1}")
print(f"The area of second circle is:{area_2}")
if area_1 > area_2:
  print("The circle 1 has larger area")
elif area_1 < area_2:
  print("The circle 2 has larger area")
else:
  print("The circle has equal area")

Enter the radius: 5
Enter the radius: 10
The area of first circle is:78.5
The area of second circle is:314.0
The circle 2 has larger area

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [30]:
year = int(input("Enter the year "))
if (year % 400 == 0) and (year % 100 ==0):
  print(f"{year} is a leap year")
elif (year % 4 == 0) and (year % 100 !=0):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter the year 2100
2100 is not a leap year